/* BIG STYLES */

html {
    background-color:#ccc;
}

div.wrapper {
    background-color:#fff;
    width:80%;
    margin:0 auto; /* Top-Bottom Right-Left */
    overflow:auto;
}

h1, h2, h3, p {
    padding:0 16px;
    font-family: 'Roboto', sans-serif;
    font-weight:normal;
}

a {
    text-decoration:none;
}

aside address, aside a {
    background-color:#9ad8ff;
}

figure {
    border:1px solid #000;
}

figcaption {
    background-color:#000;
    color:#fff;
    padding:1em 0;
    text-align: center;
}

footer {
    text-align:center;
    padding:2%;
    clear:both;
}
iframe.fl-doc{
    width: 100%;
}

/* RESPONSIVE STYLES */

div.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

div.embed-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Hide Agenda View Calendar */
    div.agenda-view.embed-container {
        display:none;
    }

/* DESKTOP and TABLET */
@media all and (min-width:768px) {
    
    section {
        width:65%;
        float:left;
        min-height:500px;
    }
    
    aside {
        width:30%;
        float:right;
        min-height:500px;
    }

    div.gallery {
        width:80%;
        margin:auto;
    }
    
    figure {
        display:inline-block;
    }
    
    figure img {
        vertical-align: middle;
    }
}
iframe.fl-doc{
    height:700px;
    }
    

/* PHONE */
@media all and (max-width:767px) {
    
    div.wrapper {
        width:100%;
    }   

}

/* CALENDAR RULES for PHONE */
@media all and (max-width:600px) {
    
    /* Show Agenda View Calendar */
    div.agenda-view.embed-container {
        display:block;
    }
    
    /* Hide Month View Calendar */
    div.month-view.embed-container {
        display:none;
    }
}


table {
    width: 80%;
    margin:auto;
    border:solid black 1px;
    border-collapse:collapse;
}

tr, td, th {
    border: solid black 1px;
    border-collapse: collapse;
    height: 25px;
}

th {
    height: 30px;
}

thead {
    background: linear-gradient(#565656 0%, #323232 100%);
    color: #fff;
}

table tr:nth-child(even) {
    background: #e3e2db;
}
iframe.fl-doc{
    height:500px;
    }







